@charset "utf-8";

/*스타일 초기화*/
*{
    margin: 0;
    padding: 0;
}
body{
    color: #333;
    font:12px "맑은 고딕", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
.clearfix::after{
    clear: both;
    display: table;
    content: '';
}

